In [214]:
# Import modul
import pandas as pd
import numpy as np
from model.modul import statistic

# Soal Pertama
Buatlah sebuah program untuk menghitung rata-rata, variansi, median, mode, kovarians,
dan korelasi untuk data berikut Tabel 1. Program ditulis dalam module class dan bisa di
import dengan library mymodule (skor 20)
x=4,4,7,7,8,9,10,10,10,11
y=2,10,4,22,16,10,18,26,34,17

In [216]:
df1=pd.DataFrame({
    "X":[4,4,7,7,8,9,10,10,10,11],
    "Y":[2,10,4,22,16,10,18,26,34,17]
})
df1.head()

   X   Y
0  4   2
1  4  10
2  7   4
3  7  22
4  8  16

### Uji Mean,Median,Corr,var,cov,std,z_score

In [217]:
print(f"""
-------------------------------(mean)
mean X:{statistic._mean(df1.X)}
mean Y:{statistic._mean(df1.Y)}
-------------------------------(median)
median X:{statistic.median_val(df1.X)}
median Y:{statistic.median_val(df1.Y)}
---------------------------------(coff)
coof={statistic._correlation(df1.X,df1.Y)}
""")

# print(statistic.std_two_pol(df1.X,df1.Y))
print(statistic._mode(df1.X))

-------------------------------(mean)
mean X:8.0
mean Y:15.9
-------------------------------(median)
median X:8.5
median Y:13.0
---------------------------------(coff)
coof=0.6453079104843609

[10]

In [218]:
import scipy.stats as stats
stats.ttest_ind(df1.X,df1.Y)

Ttest_indResult(statistic=-2.4537527507684507, pvalue=0.024552331180212075)

# Soal Ke 2
1. Apa Yang dimaksud dengan Uji Hipotesis
> Uji hipotesis dimana pengujian sebuah data metode pengambilan keputusan yang didasarkan dari analisis data, baik dari percobaan yang terkontrol, maupun dari observasi (tidak terkontrol).
2. Apa yang dimaksud dengan anova
> sendiri dapat diartikan sebagai salah satu metode atau uji hipotesis yang digunakan pada statistika parametrik, dimana pengujian dilakukan pada interaksi dua faktor dengan membandingkan rata-rata dua sampel atau lebih.

Soal Ke 3

Buatlah Program yang untuk tvalue independet

In [219]:
print(statistic.t_value_ind(df1.X,df1.Y))

-2.839007735718483

Soal Ke Empat Uji dengan varibel berikut

In [220]:
a=[8,10,6,6,9,7,6]
b=[6,6,6,9,6,6,5]
c=[9,7,5,8,7,7,5]

df2=pd.DataFrame(
    {"A":a,
    "B":b,
    "C":c}
)
df2.head()

    A  B  C
0   8  6  9
1  10  6  7
2   6  6  5
3   6  9  8
4   9  6  7

In [221]:
media1=df2.A
media2=df2.B
media3=df2.C
print('Ttest pada media1 dan media2:',statistic.t_value_ind(media1,media2))
print('Ttest pada media1 dan media3:',statistic.t_value_ind(media1,media3))
print('Ttest pada media1 dan media2:',statistic.t_value_ind(media2,media3))

Ttest pada media1 dan media2: 0.8163616116597692
Ttest pada media1 dan media3: 0.40818080582988486
Ttest pada media1 dan media2: -0.6803013430498072

kesimpulan bahwa algoritma ini masih blm sempurna jadi harap maklum

dari sini kita kelihatan arah data  itu bias tidak

# Soal Ke 4 buat modul slope and intepect
> lihat di bagian model/modul.py ----> lihat statistic.reges

# Soal Kelima
kita ujikan

In [222]:
print(statistic.reges(df1.X,df1.Y))

[[14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, 14152.355555555556, -113202.94444444445]]