In [119]:

import pandas as pd
import numpy as np
from module.modeling import statistic

In [120]:
a=[i for i in range(11)]
b=[i*0.5 for i in np.random.randn(11)]
z=[i for i in range(1,10)]

In [121]:
# 1.how value of Mean,Median And Mode in variabel a and b
df=pd.DataFrame({"data A":a,"data B":b})
df.describe()

          data A     data B
count  11.000000  11.000000
mean    5.000000  -0.153885
std     3.316625   0.292535
min     0.000000  -0.737829
25%     2.500000  -0.267115
50%     5.000000  -0.032052
75%     7.500000   0.039070
max    10.000000   0.092960

In [122]:
# statistic._correlation(a,b),np.corrcoef(a,b),statistic._mode(a)
def modus(data:list):
    data.sort()
    dummy=data
    return dummy
statistic._mode(b)

[-0.7378289016623952]

In [123]:
# this for prove the accurate the value from pakage scipy with own functon build
from scipy.stats import mode
mode(b)

/tmp/ipykernel_5028/1645832941.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode(b)

ModeResult(mode=array([-0.7378289]), count=array([1]))

In [124]:
# Data Frame 
df=pd.DataFrame({
    "Data ke-1":a,
    "Data ke-2":b,
})
df.head()

   Data ke-1  Data ke-2
0          0  -0.032162
1          1   0.035255
2          2   0.042885
3          3   0.092960
4          4   0.062747

In [125]:
df.var()

Data ke-1    11.000000
Data ke-2     0.085577
dtype: float64

In [126]:
df.describe()

       Data ke-1  Data ke-2
count  11.000000  11.000000
mean    5.000000  -0.153885
std     3.316625   0.292535
min     0.000000  -0.737829
25%     2.500000  -0.267115
50%     5.000000  -0.032052
75%     7.500000   0.039070
max    10.000000   0.092960