In [1]:

import pandas as pd
import numpy as np
from module.modeling import statistic

In [2]:
a=[i for i in range(11)]
b=[i*0.5 for i in np.random.randn(11)]
z=[i for i in range(1,10)]

In [3]:
# 1.how value of Mean,Median And Mode in variabel a and b
df=pd.DataFrame({"data A":a,"data B":b})
df.describe()

          data A     data B
count  11.000000  11.000000
mean    5.000000   0.000486
std     3.316625   0.380269
min     0.000000  -0.568396
25%     2.500000  -0.301447
50%     5.000000   0.008914
75%     7.500000   0.271614
max    10.000000   0.667913

In [4]:
# statistic._correlation(a,b),np.corrcoef(a,b),statistic._mode(a)
def modus(data:list):
    data.sort()
    dummy=data
    return dummy
statistic._mode(b)

"mode=array(['-0.56839647']) count=array(1)"

In [5]:
# this for prove the accurate the value from pakage scipy with own functon build
from scipy.stats import mode
mode(b)

/tmp/ipykernel_14348/1645832941.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode(b)

ModeResult(mode=array([-0.56839647]), count=array([1]))

In [6]:
# Data Frame 
df=pd.DataFrame({
    "Data ke-1":a,
    "Data ke-2":b,
})
df.head()

   Data ke-1  Data ke-2
0          0  -0.311661
1          1   0.156194
2          2   0.287794
3          3   0.008914
4          4   0.255433

In [7]:
df.var()

Data ke-1    11.000000
Data ke-2     0.144605
dtype: float64

In [8]:
df.describe()

       Data ke-1  Data ke-2
count  11.000000  11.000000
mean    5.000000   0.000486
std     3.316625   0.380269
min     0.000000  -0.568396
25%     2.500000  -0.301447
50%     5.000000   0.008914
75%     7.500000   0.271614
max    10.000000   0.667913

In [4]:
data=[1,2,45,12,31,21,334,12,43,2,232]
dummy_lst=[]
i=0
while i <len(data):
    dummy_lst.append(data.count(data[i]))
    i+=1
combine=dict(zip(data,dummy_lst))
combine

{1: 1, 2: 2, 45: 1, 12: 2, 31: 1, 21: 1, 334: 1, 43: 1, 232: 1}